<!-- All Tours#index section -->
<div id="menu-content" class="bg-none text-dark">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="text-center text-dark p-3">
          <strong>All Tours</strong>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-hover table-light">
          <thead>
            <tr>
              <th scope="col">Img</th>
              <th scope="col">Tour Title</th>
              <th scope="col">Description</th>
              <th scope="col">Duration</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <% @tours.each do |tour| %>
              <tr>


                <td>
                  <%= link_to tour.title, tour %></td>
                            <td>img here</td>
                <td>
                  <%= tour.description %></td>
                <td><%= tour.tour_days.size %> days</td>
                <td>
                  <%= tour.price %></td>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
