// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-light .navbar-brand{
  color:rgb(237, 28, 36);
}
.navbar-light .navbar-brand.scroll-down{
  color:white;
}

* {
border: 0 none;
outline: 0;
padding: 0;
margin: 0;
}


@font-face {
    font-family: 'RussianLand';
    src: font-url('RussianLand.ttf') format("truetype");


}

#landing {
  background-image: url(/assets/snow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1000px;
  width: 100%;
}

  #landing .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    min-height: 1000px; }

    #menu-content {
      background-image: url("img/newPattern.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      min-height: 1000px;
      width: 100%;
    }
    #contact-content {
      background-image: url("img/newPattern.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      min-height: 1000px;
      width: 100%;
    }
