

.body {
  font-family: 'Quicksand-Regular';
}

#booking-content {
  min-height: 2000px;
  width: 100%;
}

#booking-content .overlay {
  position: absolute;
  width: 100%;
  min-height: 2000px;
}

#booking-details {
  min-height: 2000px;
  width: 100%;
}

#booking-details .overlay {
  width: 100%;
  min-height: 2000px;
}

#booking-all {
  min-height: 2000px;
  width: 100%;
}

#booking-all .overlay {
  position: absolute;
  width: 100%;
  min-height: 2000px;
}
